In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression

In [2]:
!pip install pandas

Requirement already satisfied: pandas in n:\pycharmprojects\.virtualenvs\ai-ml_internship\lib\site-packages (1.3.4)
Requirement already satisfied: numpy>=1.17.3 in n:\pycharmprojects\.virtualenvs\ai-ml_internship\lib\site-packages (from pandas) (1.21.4)
Requirement already satisfied: pytz>=2017.3 in n:\pycharmprojects\.virtualenvs\ai-ml_internship\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in n:\pycharmprojects\.virtualenvs\ai-ml_internship\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in n:\pycharmprojects\.virtualenvs\ai-ml_internship\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [3]:
df = pd.read_csv('N:/PycharmProjects/AI-ML_Internship/assets/Social_Network_ads.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [5]:
df.shape

(400, 5)

In [6]:
df.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [7]:
X = df.drop(['Purchased', 'Gender', 'User ID'], axis='columns')
X

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [8]:
y = df['Purchased']

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [11]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [12]:
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [ ]:
lr  = LogisticRegression()
lr.fit(X_train, y_train)

In [13]:
pred_y = lr.predict(X_test)

NameError: name 'lr' is not defined

In [ ]:
plt.scatter(df['Age'], df['Purchased'])

In [ ]:
plt.scatter(pred_y, df['Purchased'][:100])

In [ ]:
from matplotlib.colors import  ListedColormap
import numpy as np

In [ ]:
X_set, y_set = X_train, y_train
X1, X2 = np.meshgrid(np.arange(start=X_set[:, 0].min()-1, stop=X_set[:,0].max(), step=0.01), np.arange(start=X_set[:, 1].min()-1, stop=X_set[:,1].max(), step=0.01))

In [ ]:
plt.contourf(X1, X2, lr.predict(np.array([X1.ravel(), X2.ravel()]).T).reshape(X1.shape),
             alpha = 0.75, cmap = ListedColormap(('yellow', 'green')))
plt.xlim(X1.min(), X1.max())
plt.ylim(X2.min(), X2.max())
for i, j in enumerate(np.unique(y_set)):
    plt.scatter(X_set[y_set == j, 0], X_set[y_set == j, 1],
                c = ListedColormap(('red', 'blue'))(i), label = j)
plt.title('Logistic Regression on Trainig Set')
plt.xlabel('Age')
plt.ylabel('Estimated Salary')
plt.legend()
plt.show()

In [ ]:
X_set, y_set = X_test, y_test
X1, X2 = np.meshgrid(np.arange(start = X_set[:, 0].min() - 1, stop = X_set[:, 0].max() + 1, step = 0.01),
                     np.arange(start = X_set[:, 1].min() - 1, stop = X_set[:, 1].max() + 1, step = 0.01))
plt.contourf(X1, X2, lr.predict(np.array([X1.ravel(), X2.ravel()]).T).reshape(X1.shape),
             alpha = 0.75, cmap = ListedColormap(('yellow', 'green')))
plt.xlim(X1.min(), X1.max())
plt.ylim(X2.min(), X2.max())
for i, j in enumerate(np.unique(y_set)):
    plt.scatter(X_set[y_set == j, 0], X_set[y_set == j, 1],
                c = ListedColormap(('red', 'blue'))(i), label = j)
plt.title('Logistic Regression on Test set')
plt.xlabel('Age')
plt.ylabel('Estimated Salary')
plt.legend()

plt.show()